---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Frontend Mentor">
  <div class="card">
    <div class="card__image">
      <img src="./assets/image-equilibrium.jpg" alt="">
    </div>
    <div class="card__content">
      <h1><a href="#">Equilibrium #3429</a></h1>
      <p>Our Equilibrium collection promotes balance and calm.</p>
      <div class="content__details">
        <div>
          <img src="./assets/icon-ethereum.svg" alt="">
          <p>0.041 ETH</p>
        </div>
        <div>
          <img src="./assets/icon-clock.svg" alt="">
          <p>3 days left</p>
        </div>
      </div>
    </div>
    <div class="card__footer">
      <img src="./assets/image-avatar.png" alt="">
      <p>Creation of <a href="#">Jules Wyvern</a></p>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-clr-200);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 10px 0 20px #0c1828;
    max-width: 350px;
    min-height: 600px;
    animation: fade-in 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;

    .card__image {
      position: relative;

      img {
        border-radius: 0.5rem;
      }

      &::before {
        content: '';
        display: block;
        opacity: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: hsl(178, 100%, 50%, 0.4);
        background-image: url('../assets/icon-view.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.5rem;
        position: absolute;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        &::before {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    h1 {
      font-size: 1.5rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .card__content {
    > p {
      color: var(--primary-clr-100);
      font-size: 1.1rem;
    }

    .content__details {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      div {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        &:first-child p {
          color: var(--primary-clr-200);
          font-weight: 600;
        }

        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }

  .card__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #2f4159;
    margin-top: 0.5rem;
    padding-top: 1rem;

    img {
      width: 30px;
      height: 30px;
      border: 1px solid white;
      border-radius: 100%;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(5rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>