// | -------------------------------------------------------------
// | > Color
// | -------------------------------------------------------------
// |   Color map with HSL values. Used to create Custom
// |   Properties in _root.scss.
// | -------------------------------------------------------------

$colors: (
  primary-clr: (
    100: hsl(215, 51%, 70%),
    200: hsl(178, 100%, 50%),
  ),
  neutral-clr: (
    100: hsl(217, 54%, 11%),
    200: hsl(216, 50%, 16%),
    300: hsl(215, 32%, 27%),
    400: hsl(0, 0%, 100%),
  ),
);
